﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gerador CSV</title>
    <link href="@Url.Content("~/Metro/css/metro.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Metro/css/metro-icons.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Metro/css/metro-responsive.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Metro/css/metro-schemes.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Metro/js/jquery-2.1.3.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Metro/js/metro.min.js")" type="text/javascript"></script>
    @RenderSection("head", false)
</head>
<body>
    <div class="page-content container">
        @RenderBody()
    </div>
</body>
</html>
