﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model BigDataSmartSolutions.GeradorCSV.Web.Models.ImportacaoModel
@section head 
{
<script type="text/javascript">
    $(window).unload(function () {
    @if (Model != null && !string.IsNullOrEmpty(Model.SessionID))
    {
        @Html.Raw(string.Format("$.ajax({{ method: 'POST', url: '/Excel/LimparPastaTemporario', data: {{ pasta: '{0}' }} }});", Model.SessionID));
    }
    });

    var downloadCSV = function (nome_pasta, nome_planilha) {
        window.location.href = '/Excel/ConverterCSV/?pasta=' + encodeURIComponent(nome_pasta) + '&planilha=' + encodeURIComponent(nome_planilha);
    }
</script>    
}
<div class="grid" style="margin-top: 40px">
    <h4>Selecione um Arquivo Excel</h4>
    @using (Html.BeginForm("Importar", "Excel", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            <label>Arquivo Excel (.xls ou .xlsx)</label>
            <div class="input-control file full-size" data-role="input">
                <input type="file" name="arquivo" />
                <button class="button primary"><span class="mif-folder"></span></button>
            </div>
            <input class="button primary" type="submit" value="Importar" />
        </div>
    }
    
    @if (Model != null && !string.IsNullOrEmpty(Model.MensagemErro))
    {
        <div class="row" style="margin-top: 20px">
            <span class="fg-red">@Model.MensagemErro</span>
        </div>
    }
    else if (Model != null && !string.IsNullOrEmpty(Model.MensagemSucesso))
    {
        <div class="row" style="margin-top: 20px">
            <span class="fg-green">@Model.MensagemSucesso</span>
        </div>
    }
    
    @if (Model != null && Model.Planilhas != null && Model.Planilhas.Count > 0)
    { 
        <h4>Selecione a Planilha para Importar para CSV</h4>
        <label>Lista de Planilhas</label>
        <div class="row">
            @foreach (string planiha in Model.Planilhas)
            {
                <input type="button" class="primary" onclick="downloadCSV('@Model.SessionID', '@planiha')" value="@planiha" />
            }
        </div>
    }
</div>